@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Roboto", sans-serif;
}

/*navbar*/
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    height: 40px;
    width: auto;
}

.navbar-container ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

.navbar-container li {
    padding: 0 20px;
}

.navbar-container li:hover {
    color: #1DB954;
    cursor: pointer;
    transition: all 300ms ease;
}

.navbar-container li:nth-child(3) {
    border-right: 1px solid white;
}

/*wallpaper*/
#wallpaper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('img/wallpaper.png') center center/cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
}

.wallpaper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallpaper-container h2 {
    font-size: 5rem;
}

.wallpaper-container p {
    margin: 15px 0;
    font-size: 1.1rem;
}

/*button*/
.btn-primary {
    background: #1DB954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.btn-primary:hover {
    background: #1ed760;
    cursor: pointer;
    transition: all 300ms ease;
}

/*footer*/
#footer {
    background: black;
    color: white;
    padding: 80px 0;
}

.footer-container {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

.footer-menu {
    margin: 0px 40px;
    list-style: none;

}

.footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

.footer-menu-itens {
    margin: 20px 0;
}

.footer-menu-itens:hover {
    color: #1DB954;
    cursor: pointer;
    transition: all 300ms ease;
}

/*socials*/
.socials {
    display: flex;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
}

.socials i:hover {
    color: #1DB954;
    cursor: pointer;
    transition: all 300ms ease;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
    padding-top: 50px;
}

.footer-info-item {
    display: flex;
    list-style: none;
}

.footer-info-itens {
    margin: 0 10px;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
}

.footer-info-itens:hover {
    color: #1DB954;
    cursor: pointer;
    transition: all 300ms ease;
}

.country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.country p:hover {
    color: #1DB954;
    cursor: pointer;
    transition: all 300ms ease;
}

.brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}